<div class="container">
    <p>
        This is how you use the Toy Robot application:
    </p>
    <p>
        First of all enter X and Y coordinates and select a direction from the drop-down preceded with 'F'.<br />
        X and Y coordinates must be an integer between 1 and 5. Once you enter valid coordinates, click on the PLACE button
        command then you will see the toy robot appear on the grid.
    </p>
    <p>
        Once the robot is placed, you can click on any other command button (MOVE, LEFT, RIGHT OR REPORT).
    </p>
    <p>
        When you click on REPORT command, you will see coordinates of the robot displayed on scree (in blue colour).
        Then you will need to start the process of placing the robot as discribed in the first step.
    </p>
    <br />
</div>
